header, main, footer {
    padding-left: 300px;
  }
.loader{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eee;
	
	position: fixed;
	z-index: 100;
	top: 0;
	left: 300px;
	right: 0;
	bottom: 0;	
}
.secondary-content{
  cursor: pointer;
}
  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
    .loader{
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;	
    }
  }

