header, main, footer {
    padding-left: 300px;
  }
select {
    padding-left: 0px !important;
    border-bottom: 1px solid #9e9e9e !important;
}
select:focus {
    padding-left: 0px !important;
    border-bottom: 1px solid #4CAF50 !important;
    -webkit-box-shadow: 0 1px 0 0 #4CAF50 !important;
    box-shadow: 0 1px 0 0 #4CAF50 !important;
}
option {
    padding-left: 0px !important;
}
.loader{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eee;
	
	position: fixed;
	z-index: 100;
	top: 0;
	left: 300px;
	right: 0;
	bottom: 0;	
}
.secondary-content{
  cursor: pointer;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
    .loader{
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;	
    }
  }

