<ul id="slide-out" class="sidenav sidenav-fixed">
        <li><a href="/a/user">User</a></li>
        <li><a href="/a/logs">Activities</a></li>
      </ul>
<a href="#" data-target="slide-out" class="sidenav-trigger black-text"><i class="material-icons">menu</i></a>