<!DOCTYPE html>
<html>
    <head>
        <%- include ../imports/head %>
        <link rel="stylesheet" href="/stylesheets/adminstyle.css">
    </head>
    <body>
        
        <%- include ../imports/sidenav %>
        <main>
            
        </main>    
        <%- include ../imports/imports %>
        <script type="text/javascript" src="/js/downloads.js"></script>
    </body>

</html>
