<!DOCTYPE html>
<html>
    <%- include ../imports/head %>

    <body>
        
        <%- include ../imports/sidenav %>
        <div class="container">

        </div>        
        <%- include ../imports/imports %>
        <script type="text/javascript" src="js/admin.js"></script>
    </body>

</html>
